{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        {% if request.user.is_authenticated %}
        <h5 class="card-header">Hello {{ request.user }}</h5>
        {% else %}
        <h5 class="card-header">Hello stranger!</h5>
        {% endif %}
    <div class="card-body">
        {% if request.user.is_authenticated %}
        <p class="card-text"> Create a new Post maybe?</p>
        <a href="#"
           class="btn btn-danger">Post</a>
        {% else %}
        <p class="card-text"> Do you want to create a post? You have to be logged in</p>
        <a href="{% url 'login' %}"
           class="btn btn-danger">Login</a>
        {% endif %}
    </div>
</div>
</div>

{% endblock sidebar %}